*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.container{
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    background-color: rgb(138, 91, 91);
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.card-img{
    position: relative;
    width: 250px;
    height: 400px;
}

.img{
    background-size: cover;
    background-position: center;
}

.img-1{
    background-image: url(../img/1.webp);
}

.img-1:hover{
    background-image: url(../img/1-hover.webp);
}

.hearth{
    position: absolute;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    right: 0;
    top: 8px;
    font-size: 20px;
}

.card-description{
    width: 250px;
    /* height: 100px; */
    background-color: rgb(172, 158, 158);
    font-size: 12px;
}

[class^="tag-"]{
    display: inline-block;
    color: white;
    bottom: 10px;
    position: absolute;
    font-weight: 400;
    font-size: 10px;
    /* line-height: 20px; */
    padding: 5px;
}

.tag-discount{
    background-color: red;
}

.tag-sustainability{
    background-color: green;
    left: 40px
}

.apex{
    vertical-align: super;
    font-size: 8px;
}

.price{
    padding-top: 5px;
    color: red;
    font-weight: 800;
}