*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.container{
    max-width: 800px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.card{
    width: calc((100% / 3) - 30px);
    margin: 15px;
}

.card-img{
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: top center;
}

.hearth{
    position: absolute;
    width: 30px;
    text-align: center;
    background-color: white;
    right: 0;
    top: 8px;
    font-size: 20px;
}

.container-label{
    position: absolute;
    bottom: 10px;
}

[class^="label-"]{
    color: white;
    font-size: 10px;
    padding: 5px;
}

.label-discount{
    background-color: red;
    padding: 5px;
    margin-right: 5px;
}

.label-sustainability{
    background-color: green;
}

.card-description{
    font-size: 10px;
    height: 50px;
}

.special-description{
    background-color: rgb(19, 163, 19);
    padding: 12px 0 12px 5px;
}

.brand > .apex{
    vertical-align: super;
    font-size: 8px;
}

.price{
    padding-top: 5px;
    color: red;
    font-weight: 800;
}

.brand{
    padding-top: 4px;
}

.img-1{
    background-image: url(../img/1.webp);
}

.card:hover .img-1{
    background-image: url(../img/1-hover.webp);
}

.img-2{
    background-image: url(../img/2.webp);
}

.img-2:hover{
    background-image: url(../img/2-hover.webp);
}
.img-3{
    background-image: url(../img/3.webp);
}

.img-3:hover{
    background-image: url(../img/3-hover.webp);
}

.img-4{
    background-image: url(../img/4.webp);
}

.img-4:hover{
    background-image: url(../img/4-hover.webp);
}

.img-5{
    background-image: url(../img/5.webp);
}

.img-5:hover{
    background-image: url(../img/5-hover.webp);
}

.img-6{
    background-image: url(../img/6.webp);
}

.img-6:hover{
    background-image: url(../img/6-hover.webp);
}